.body {
  display: flex;
  align-items: start;
  column-gap: fluid(100, 20);

  @include tablet {
    flex-direction: column;
    row-gap: 2rem;
  }
}

.timeline {
  position: relative;
  flex: rem(250) 1 0;
  display: flex;
  flex-direction: column;
  row-gap: rem(20);

  &::before {
    @include abs-y;

    content: '';
    width: rem(1);
    height: 100%;
    background-color: var(--color-gray-600);
  }
}

.line {
  position: relative;
  padding-left: rem(30);
  color: var(--color-gray-600);

  &:first-child {
    color: var(--color-primary);
  }

  &::before {
    @include abs-y;
    @include square(rem(8));

    box-sizing: content-box;
    content: '';
    left: 0;
    translate: -48% -50%;
    background-color: var(--color-gray-600);
    border: rem(4) solid var(--color-gray-200);
    border-radius: 100%;
  }
}

.side {
  display: grid;
  row-gap: rem(36);
}