.form {
  max-width: rem(495);
  padding: fluid(48, 30) fluid(40, 20);
  display: flex;
  flex-direction: column;
  row-gap: rem(24);
  align-items: center;
  background-color: var(--color-white);
  border-radius: rem(4);
  box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.05), 0 12px 10px -6px rgba(30, 33, 44, 0.08), 0 26px 24px -10px rgba(30, 33, 44, 0.1), 0 60px 80px -20px rgba(30, 33, 44, 0.16);
}

.title {
  @include tablet {
    text-align: center;
  }
}

.controls {
  display: grid;
  row-gap: rem(20);
}

.fieldTall {
  textarea {
    height: rem(66);
  }
}
