.services {
  &__list {
    display: grid;
    row-gap: fluid(120, 30);
  }

  &__service:nth-child(even) {
    @include mobile-above {
      flex-direction: row-reverse;
    }
  }
}

.service {
  display: flex;
  gap: fluid(80, 20);
  align-items: center;

  @include mobile {
    flex-direction: column;
  }

  &__image {
    &-wrapper {
      flex: 47% 0 1;
      height: rem(420);
    }

    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__body {
    max-width: rem(575);
    flex: 46% 0 1;
  }

  &__title {
    @include fluid-text(32, 28);
    margin-bottom: rem(24);
  }

  &__text {
    margin-bottom: rem(48);
  }
}