.hero-slider {
  position: relative;
  margin-top: rem(92);
  height: calc(100vh - #{rem(90)});
  color: var(--color-white);
  background-color: var(--color-gray-500);

  &__slide {
    padding-block: fluid(220, 80);
  }

  &__bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.5);
  }

  &__body {
    width: 100%;
    height: 100%;
    max-height: rem(415);
  }

  &__title {
    color: currentColor;
    margin-bottom: rem(24);

    span {
      color: var(--color-primary);
    }
  }

  &__subtitle {
    margin-bottom: fluid(60, 24);
    max-width: rem(600);
    font-size: rem(20);
    text-wrap: balance;
  }

  &__link {
    color: currentColor;
    border-color: currentColor;
  }

  &__navigation {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding-inline: rem(32);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;

    @include tablet {
      display: none;
    }
  }

  &__prev-button,
  &__next-button {
    --navButtonSize: #{rem(48)};

    @include square(#{var(--navButtonSize)});

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    opacity: 0.5;
    border: none;
    border-radius: 50%;

    &:not(.swiper-button-disabled) {
      pointer-events: auto;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__pagination-wrapper {
    position: absolute;
    bottom: rem(60);
    left: 50%;
    translate: -50% 0;
    z-index: 10;
    width: 100%;
  }

  &__pagination {
    display: flex;
    flex-wrap: wrap;
    gap: rem(4);

    &-number {
      font-weight: 700;
      font-size: rem(28);
      color: rgba(255, 255, 255, 0.6);
      transition-duration: var(--transition-duration);
    }

    &-line {
      width: 100%;
      height: rem(2);
      background-color: rgba(255, 255, 255, 0.3);
      transition-duration: var(--transition-duration);
    }

    .swiper-pagination-bullet {
      width: fluid(180, 100);
      height: auto;
      margin: 0 !important;
      display: flex;
      flex-direction: column;
      row-gap: rem(12);
      background: transparent;
      opacity: 1;
      cursor: pointer;
      border-radius: 0;

      &-active {
        .hero-slider__pagination-number {
          color: #fff;
        }

        .hero-slider__pagination-line {
          background-color: #fff;
        }
      }

      &:hover:not(.swiper-pagination-bullet-active) {
        .hero-slider__pagination-number {
          color: rgba(255, 255, 255, 0.7);
        }

        .hero-slider__pagination-line {
          background-color: rgba(255, 255, 255, 0.7);
        }
      }
    }
  }
}