.slider {
  position: relative;
  display: grid;

  &__swiper {
    width: 100%;
  }

  &__navigation {
    position: absolute;
    z-index: 10;
    bottom: calc(100% + #{rem(48)});
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      bottom: initial;
      right: initial;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      width: 100%;
      justify-content: space-between;
      padding-inline: rem(6);
    }
  }

  &__navigation-prev,
  &__navigation-next {
    --navButtonSize: #{rem(48)};

    @include square(#{var(--navButtonSize)});

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    border: none;
    border-radius: 50%;

    &:not(.swiper-button-disabled):hover {
      background-color: var(--color-primary);
      color: var(--color-white);
    }

    &.swiper-button-disabled {
      color: initial;
      opacity: 0.3;
      cursor: auto;
    }
  }

  &__slide {
    padding-bottom: rem(25);
  }
}

.slide {
  position: relative;
  padding-bottom: rem(95);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--box-shadow);
  overflow: hidden;

  &__image {
    width: 100%;
    height: rem(345);
    flex-shrink: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: absolute;
    bottom: rem(-68);
    padding: rem(16) rem(20) rem(24);
    width: 100%;
    background-color: var(--color-white);
    text-align: center;
    transition-duration: var(--transition-duration);
  }

  &__title {
    margin-bottom: rem(4);
  }

  &__hidden {
    padding-top: rem(24);
  }

  &:hover {
    .slide__content {
      bottom: 0;
    }
  }
}