.values {
  display: grid;
  justify-items: center;
  column-gap: 2rem;
  row-gap: 3rem;
  text-align: center;

  @include mobile-above {
    grid-template-columns: repeat(2, 1fr);
  }

  @include tablet-above {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    max-width: rem(285);
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile {
      max-width: rem(320);
    }
  }

  .image {
    margin-bottom: rem(24);
  }

  .title {
    margin-bottom: rem(8);
  }
}