.portfolio {

}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: rem(30);

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mobile {
    grid-template-columns: 1fr;
  }
}