.loadMore {
  margin-top: rem(80);
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background: none;
}