.heading {
  --text-align: center;
  --margin-bottom: 60px;

  display: grid;
  row-gap: rem(24);
  column-gap: 1rem;
  text-align: var(--text-align);
  margin-bottom: var(--margin-bottom);

  &.left {
    text-align: left;
  }

  &.right {
    text-align: right;
  }

  p {
    font-size: rem(18);
  }
}