@use 'helpers' as *;

html {
	&.is-lock {
		overflow: hidden;
	}
}

body {
	font-size: rem(16);
	font-family: var(--font-family);
	color: var(--color-gray-700);
	background-color: var(--color-white);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	color: var(--color-gray-900);
	font-weight: bold;
}

h1,
.h1,
h6,
.h6 {
	letter-spacing: rem(1);
}

h1,
.h1,
h2,
.h2 {
	line-height: 1.3;
}

h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	line-height: 1.5;
}

h1,
.h1 {
	@include fluid-text(72, 36);
}

h2,
.h2 {
  @include fluid-text(46, 32);
}

h3,
.h3 {
	font-size: rem(28);
}

h4,
.h4 {
	font-size: rem(24);
}

h5,
.h5 {
	font-size: rem(20);
}

h6,
.h6 {
	font-size: rem(16);
}

a,
button,
label,
input,
textarea,
select,
svg * {
	transition-duration: var(--transition-duration);

  &:focus-visible {
    outline: rem(2) dashed var(--color-primary);
  }
}

a {
	color: inherit;

	@include hover {
		color: var(--color-primary);
	}

	&[class] {
		text-decoration: none;
	}
}

:focus-visible {
  outline: rem(2) dashed var(--color-light);
  outline-offset: rem(4);
  transition-duration: 0s !important;
}

a,
button {
	&[aria-label] {
		position: relative;

		&::before {
			@include abs-center;
			@include square(rem(44));

			content: '';
		}
	}
}
