@use 'helpers' as *;

:root {
  --color-white: #ffffff;
  --color-primary: #ff5a30;
  --color-success: #03cea4;
  --color-danger: #f52f6e;
  --color-warning: #f89828;
  --color-info: #5a87fc;
  --color-invalid: red;
  --color-gray-900: #1e212c;
  --color-gray-800: #424551;
  --color-gray-700: #787a80;
  --color-gray-600: #9a9ca5;
  --color-gray-500: #b3b7bc;
  --color-gray-400: #d7dadd;
  --color-gray-300: #e5e8ed;
  --color-gray-200: #f4f5f6;

  --gradient: linear-gradient(45deg, var(--color-dark-15) 64%, var(--color-accent) 136%);

  --border: #{rem(1)} solid var(--color-gray-300);
  --box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03), 0 12px 10px -6px rgba(154, 156, 165, 0.04), 0 30px 24px -10px rgba(154, 156, 165, 0.05), 0 80px 80px -20px rgba(154, 156, 165, 0.08);

  --font-family: 'Ubuntu', sans-serif;

  --container-width: #{rem(1230)};
  --container-padding-x: #{rem(15)};

  --transition-duration: 0.3s;

  --100vw: calc(100vw - var(--scrollbar-width));
}
