.contacts {
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: rem(4);

  .body {
    padding: rem(48) rem(60);
    display: grid;
    row-gap: rem(32);
    text-align: center;

    @include tablet {
      padding: rem(24) 0;
    }
  }

  .form {
    display: grid;
    grid-template-columns: rem(260) rem(260) 1fr auto;
    align-items: end;
    gap: rem(24);

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  .tabletBig {
    @include tablet {
      grid-column: -1 / 1;
    }
  }

  .button {
    height: rem(44);
  }
}