.button {
  padding-inline: rem(32);
  height: rem(52);
  display: inline-flex;
  align-items: center;
  justify-content: center;

  white-space: nowrap;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-white);
  border: rem(1) solid var(--color-primary);
  border-radius: rem(4);
  background-color: var(--color-primary);

  @include hover {
    background-color: color-mix(in srgb, var(--color-primary), black 20%);
  }

  &--alt {
    height: rem(44);
    padding-inline: rem(40);
    color: var(--color-primary);
    border: rem(1) solid var(--color-primary);
    background-color: transparent;

    @include hover {
      color: var(--color-white);
      border: rem(1) solid var(--color-primary);
      background-color: var(--color-primary);
    }
  }
}