.page-header {
  position: relative;
  min-height: rem(600);

  &__bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  &__inner {
    padding-block: rem(150);
  }

  &__path {
    margin-bottom: rem(40);
    color: var(--color-gray-600);

    &-src {
      color: var(--color-gray-800);
    }
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: rem(24);
  }

  &__text {
    max-width: rem(600);
    @include fluid-text(20, 16);
  }
}