.stats {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: rem(48);
  justify-content: center;

  @include tablet {
    grid-template-columns: repeat(2, auto);
  }

  @include mobile-s {
    grid-template-columns: 1fr;
  }


  .title {
    font-size: rem(32);
  }

  .item {
    display: flex;
    flex-direction: column;
    row-gap: rem(20);
    align-items: center;

    .itemTitle {
      --width: #{rem(150)};
      --fatness: #{rem(7)};

      @include square(var(--width));
      position: relative;
      display: inline-grid;
      place-content: center;
      font-size: rem(32);

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 50%;
        /* Исправленный градиент */
        background: conic-gradient(
            #{
              var(--color) calc(var(--percent) * 1%),
              color-mix(in srgb, var(--color), transparent 80%) calc(var(--percent) * 1%) 100%
            }
        );
        /* Исправленная маска */
        -webkit-mask: radial-gradient(
            #{
              farthest-side,
              transparent calc(100% - var(--fatness)),
              #000 calc(100% - var(--fatness) + 0.5px)
            }
        );
        mask: radial-gradient(
            #{
              farthest-side,
              transparent calc(100% - var(--fatness)),
              #000 calc(100% - var(--fatness) + 0.5px)
            }
        );
      }
    }

    .subtitle {
      color: var(--color-gray-900);
    }
  }
}