.partners {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(rem(120), 1fr));
  column-gap: 1rem;
  row-gap: fluid(40, 20);
  justify-items: center;

  @include tablet {
    grid-template-columns: repeat(3, minmax(rem(120), 1fr));
  }

  @include mobile-s {
    grid-template-columns: repeat(2, minmax(rem(120), 1fr));
  }

  .imageWrapper {
    max-width: rem(120);
    max-height: rem(64);
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}