.home {

}

.portfolioTitle {
  max-width: rem(705);
}

.reviews {
  margin-top: rem(100);
}

.stats {
  background: url("/images/stats/bg-image.jpg") left no-repeat;
}

.miniContacts {
  translate: 0 rem(120);
}