.header {
  --text-align: center;

  display: grid;
  row-gap: rem(24);
  column-gap: 1rem;
  text-align: var(--text-align);
  margin-bottom: rem(60);

  &.left {
    text-align: left;
  }

  &.right {
    text-align: right;
  }

  .subtitle {
    font-size: rem(18);
  }
}