.videoplayer {
  position: relative;
  width: 100%;

  &__player {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__controls {
    @include flex-center;

    position: absolute;
    z-index: 3;
    inset: 0;
    padding: rem(32);

    &:not(.is-active) {
      @include hide;
    }

    &::before {
      content: '';
      position: absolute;
      z-index: 2;
      inset: 0;
      background-color: var(--color-gray-900);
      opacity: 0.6;
    }

    * {
      z-index: 4;
    }

    &-play {
      --playButtonSize: #{rem(80)};

      @include square(var(--playButtonSize));
      @include flex-center($isInline: true);

      padding-left: rem(10);
      padding-top: rem(2);
      background-color: var(--color-primary);
      border: none;
      border-radius: 100%;
      color: var(--color-white);

      @include mobile {
        --playButtonSize: #{rem(60)};
      }

      @include hover {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }

    &-mute {
      @include square(rem(40));
      @include flex-center(true);

      position: absolute;
      bottom: fluid(32, 12);
      left: fluid(32, 12);
      background: none;
      border: none;
      border-radius: 100%;
      color: var(--color-white);

      &::before {
        content: '';
        position: absolute;
        inset: 0;
        opacity: 0.12;
        background-color: var(--color-white);
        border-radius: 100%;
      }

      &.is-active {
        color: var(--color-primary);
      }
    }
  }
}