.section {
  --background-color: transparent;
  --padding-top: 120px;
  --padding-bottom: 120px;

  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  background-color: var(--background-color);
}