.card {
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);

  .image {
    flex-grow: 1;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .body {
    padding: rem(24);
  }

  .title {
    margin-bottom: rem(12);
  }

  .description {
    display: flex;
    column-gap: rem(24);

    @include mobile-s {
      flex-direction: column;
    }

    @include mobile-s-above {
      *:not(:last-child) {
        position: relative;

        &::after {
          content: '|';
          position: absolute;
          left: calc(100% + #{rem(12)});
        }
      }
    }
  }

  .text {
    margin-top: rem(16);
    color: var(--color-gray-800);
  }
}