.facts {
  display: grid;
  grid-template-columns: repeat(4, minmax(rem(120), rem(250)));
  gap: 2rem;
  justify-content: space-between;

  @include tablet {
    grid-template-columns: repeat(2, minmax(rem(120), rem(250)));
    justify-content: space-around;
  }

  @include mobile-s {
    grid-template-columns: rem(240);
  }

  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__image {
      &-wrapper {
        margin-bottom: rem(20);
        width: rem(48);
        height: rem(48);
      }

      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__title {
      color: var(--color-primary);
      margin-bottom: rem(8);
    }

    &__subtitle {
      color: var(--color-gray-900);
    }
  }
}