.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .imageWrapper {
    margin-bottom: rem(20);
    width: rem(48);
    height: rem(48);
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .title {
    color: var(--color-primary);
    margin-bottom: rem(8);
  }

  .subtitle {
    color: var(--color-gray-900);
  }
}