.ceo {
  &__article {
    display: flex;

    @include tablet {
      flex-direction: column;
      align-items: center;
    }
  }

  &__image {
    &-wrapper {
      max-width: rem(525);
      height: rem(580);

      @include tablet-above {
        align-self: end;
      }
    }

    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    padding-block: fluid(80, 30);
    padding-inline: rem(20);
    max-width: rem(735);
    display: flex;
    flex-direction: column;
    row-gap: fluid(60, 20);
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);

    @include tablet-above {
      padding-inline: rem(135) rem(105);
      translate: -30px -120px;
      align-self: start;
    }
  }

  &__text {
    @include fluid-text(20, 16);

    position: relative;
    font-weight: bold;
    color: var(--color-gray-900);

    @include tablet-above {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: calc(100% + #{rem(30)});
        width: rem(28);
        height: rem(20);
        background: url("images/ceo/braces.svg") center/contain no-repeat;
      }
    }
  }

  &__author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
  }

  &__name {
    color: var(--color-gray-900);
    font-weight: bold;
  }
}