.hero {
  position: relative;
  min-height: rem(600);

  .bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .inner {
    padding-block: rem(150);
  }

  .path {
    margin-bottom: rem(40);
    color: var(--color-gray-600);

    .pathSource {
      color: var(--color-gray-800);
    }
  }

  .title {
    text-transform: uppercase;
    margin-bottom: rem(24);
  }

  .text {
    max-width: rem(600);
    @include fluid-text(20, 16);
  }
}