.slider {
  position: relative;
  display: grid;
}

.swiper {
  width: 100%;
}

.slide {
  padding-bottom: rem(25);
}

.slideImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation {
  position: absolute;
  z-index: 10;
  bottom: calc(100% + #{rem(48)});
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablet {
    bottom: initial;
    right: initial;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    justify-content: space-between;
    padding-inline: rem(6);
  }
}

.nextEl,
.prevEl {
  --navButtonSize: #{rem(48)};

  @include square(#{var(--navButtonSize)});

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-radius: 50%;

  @include tablet {
    background-color: var(--color-primary);
    color: var(--color-white);
  }

  &:not(.swiper-button-disabled):hover {
    background-color: var(--color-primary);
    color: var(--color-white);
  }

  &.swiper-button-disabled {
    color: initial;
    opacity: 0.3;
    cursor: auto;
  }
}